@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Quicksand', sans-serif
}

.main-section {
  @apply max-w-[1500px] w-full m-auto flex flex-col items-center justify-center gap-y-4 text-white slide-up p-20 text-center
}

#hero {
  background:linear-gradient(#030430, #bcb8ff) fixed;
}

@keyframes fade-in {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes slide-up {
  from {
    transform:translateY(20px);
    opacity:0;
  }
  to {
    transform:translateY(0);
    opacity:1
  }
}

.fade-in {
  animation:fade-in 0.5s
}

.slide-up {
  animation:slide-up 0.5s
}

.main-input {
  @apply rounded-md py-3 px-4 max-w-[600px] w-full text-black
}